    {{embed}}
    <footer class="shadow-lg p-6 mt-12 text-center">
        <div class="container mx-auto">
            <div>
                <i class="fas fa-leaf text-2xl" style="color: #84cc16;"></i>
            </div>
            <p class="mt-4">Özel Anlarınız ve Profesyonel Kimliğiniz Dijital Olsun</p>
            <p class="mt-2">Kağıt israfına son! Hem özel anlarınızı kutlarken hem de profesyonel ağınızı genişletirken<br>
                çevre dostu, modern ve pratik dijital çözümleri tercih edin.<br>
                Doğayı korumak ve sürdürülebilir bir dünya için zatrano ile dijitalleşin!</p>
            <p class="mt-4">
                <a href="/kullanim-sartlari" class="underline hover:text-gray-300">Kullanım Şartları</a>
            </p>
            <p class="mt-4">
                <a href="https://www.instagram.com/zatrano.tr/" target="_blank" rel="noopener noreferrer" class="text-blue-500 hover:underline">
                    <i class="fab fa-instagram"></i>
                </a>
            </p>
            <p class="mt-4">© 2023 - {{ .Year }} zatrano - Tüm Hakları Saklıdır.</p>
        </div>
    </footer>
    <script>
	  window.onload = function () {
		setTimeout(function () {
		  var s1 = document.createElement("script");
		  var s0 = document.getElementsByTagName("script")[0];
		  s1.async = true;
		  s1.src = "https://embed.tawk.to/6741a8ae4304e3196ae773ae/1idc7lr8c";
		  s1.charset = "UTF-8";
		  s1.setAttribute("crossorigin", "*");
		  s0.parentNode.insertBefore(s1, s0);
		}, 3000);
	  };
	</script>
</body>
</html>