<!DOCTYPE html>
<html lang="tr">
<head>
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7KWP1CLQMM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-7KWP1CLQMM');
</script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="zatrano">
    <meta name="description" content="{{ .Invitation.Category.Name }} Davetiyesi">
    <title>
        {{if eq .Invitation.Category.Template "title"}}
        {{ .Invitation.InvitationDetail.Title }} | {{ .Invitation.Category.Name }} Davetiyesi
        {{else if eq .Invitation.Category.Template "online"}}
        {{ .Invitation.InvitationDetail.Title }} | {{ .Invitation.Category.Name }} Davetiyesi
        {{else if eq .Invitation.Category.Template "person"}}
        {{ .Invitation.InvitationDetail.Person }} | {{ .Invitation.Category.Name }} Davetiyesi
        {{else if eq .Invitation.Category.Template "person-family"}}
        {{ .Invitation.InvitationDetail.Person }} | {{ .Invitation.Category.Name }} Davetiyesi
        {{else if eq .Invitation.Category.Template "wedding"}}
        {{ .Invitation.InvitationDetail.BrideName }} & {{ .Invitation.InvitationDetail.GroomName }} | {{ .Invitation.Category.Name }} Davetiyesi
        {{end}}
    </title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.png">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/invitation.css">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-9638014102983939"
		 crossorigin="anonymous"></script>
</head>
<body>
    <div class="container" style="background-image: url('/uploads/invitations/{{ .Invitation.Image }}');">
        <div id="invitationDetail" class="glass p-2 rounded-lg mobile-content flex-shrink-0 flex flex-col items-center justify-center" style="flex-grow: 1;">
            {{embed}}
            <div id="details" class="content-item text-white">
                <div class="text-center">
					{{if ne .Invitation.Category.Template "online"}}
                    <p id="venue" class="font-bold">{{ .Invitation.Venue }}</p>
                    <p id="address">{{ .Invitation.Address }}</p>
					{{end}}
                    <p id="datetime" class="font-bold">{{ .Invitation.Date|FormatDate }}, {{ .Invitation.Time }}</p>
                </div>
            </div>
            {{if .Invitation.Note}}
            <div id="note" class="content-item text-white font-bold">"{{ .Invitation.Note }}"</div>
            {{end}}
        </div>
        <div class="spacer"></div>
        <div id="counter" class="glass p-2 rounded-lg no-margin-bottom flex-shrink-0 flex items-center justify-center" style="flex-grow: 0;">
            <p id="countdown" class="text-white font-bold"></p>
        </div>
        <div class="spacer"></div>
        <div id="buttons" class="buttons-container rounded-lg flex-shrink-0">
            <div class="button-row">
                <button onclick="window.location.href='tel:{{ .Invitation.Telephone }}'" class="glass p-2 rounded-md text-white flex items-center justify-center whitespace-nowrap">
                    <i class="fas fa-phone-alt mr-1"></i>Ara
                </button>
                <button id="addCalendar" class="glass p-2 rounded-md text-white flex items-center justify-center whitespace-nowrap">
                    <i class="fas fa-calendar-plus mr-1"></i>Takvime Ekle
                </button>
                {{if eq .Invitation.Category.Template "online"}}
                <button onclick="window.open('{{ .Invitation.Link }}', '_blank')" class="glass p-2 rounded-md text-white flex items-center justify-center whitespace-nowrap">
                    <i class="fas fa-link mr-1"></i>Link
                </button>
                {{else}}
                <button onclick="openModal('locationModal')" class="glass p-2 rounded-md text-white flex items-center justify-center whitespace-nowrap">
                    <i class="fas fa-map-marker-alt mr-1"></i>Konum
                </button>
                {{end}}
            </div>
            {{if .Invitation.IsParticipant}}
            <button onclick="openModal('participantModal')" id="openModalBtn" class="glass p-2 rounded-md text-white flex items-center justify-center whitespace-nowrap full-width-button">
                <i class="fas fa-check-circle mr-1"></i>Katılım Bildir
            </button>
            {{end}}
			<button onclick="window.location.href='https://zatrano'" id="createInvitation" class="glass p-2 rounded-md text-white flex items-center justify-center whitespace-nowrap full-width-button">
                <i class="fas fa-plus-circle mr-1"></i>Davetiye Oluştur
            </button>
        </div>
    </div>
    <div id="locationModal" class="map-modal-container">
        <div class="map-modal-content">
            <button class="map-modal-close">&times;</button>
            <iframe src="{{ .Invitation.Location }}" loading="lazy"></iframe>
        </div>
    </div>
    <div id="participantModal" class="form-modal-container">
        <div class="form-modal-content">
            <div class="form-modal-header">
                <h3>Katılımcı Bilgi Formu</h3>
                <button class="form-close-modal">&times;</button>
            </div>
            <div class="form-modal-body">
                <form id="participantForm" method="POST" action="/dashboard/invitations/{{ .Invitation.ID }}/participants">
                    <input type="hidden" name="csrf_token" value="{{ .CsrfToken }}" />
                    <label for="name">Ad Soyad:</label>
                    <input type="text" id="name" name="name" pattern="^([a-zA-ZÇçĞğİıÖöŞşÜü]{2,}\s[a-zA-ZÇçĞğİıÖöŞşÜü]{1,}'?-?[a-zA-ZÇçĞğİıÖöŞşÜü]{1,}\s?([a-zA-ZÇçĞğİıÖöŞşÜü]{1,})?)" title="Lütfen Ad Soyad Giriniz." required>
                    <label for="telephone">Telefon:</label>
                    <input type="text" id="telephone" name="telephone" required>
					{{if .Invitation.IsMultipleParticipant}}
					<input type="hidden" id="participant_count" name="participant_count" value="1" required>
					{{else}}
					<label for="participant_count">Katılımcı Sayısı:</label>
                    <input type="number" id="participant_count" name="participant_count" min="1" required>
					{{end}}
                </form>
            </div>
            <div class="form-modal-footer">
                <button type="submit" form="participantForm" id="saveButton" class="form-submit-button">
                    <i class="fas fa-paper-plane"></i> Gönder
                </button>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/js/reminder.js" async defer></script>
    <script src="/js/jquery.inputmask.min.js"></script>
    <script>
    document.querySelectorAll('form').forEach(form => {
        form.addEventListener('submit', function() {
            document.getElementById('saveButton').style.display = 'none';
        });
    });
    var template = "{{ .Invitation.Category.Template }}";
    var name = "";
    switch (template) {
        case "title":
            name = "{{ .Invitation.InvitationDetail.Title }} | {{ .Invitation.Category.Name }} Davetiyesi";
            break;
        case "online":
            name = "{{ .Invitation.InvitationDetail.Title }} | {{ .Invitation.Category.Name }} Davetiyesi";
            break;
        case "person":
            name = "{{ .Invitation.InvitationDetail.Person }} | {{ .Invitation.Category.Name }} Davetiyesi";
            break;
        case "person-family":
            name = "{{ .Invitation.InvitationDetail.Person }} | {{ .Invitation.Category.Name }} Davetiyesi";
            break;
        case "wedding":
            name = "{{ .Invitation.InvitationDetail.BrideName }} & {{ .Invitation.InvitationDetail.GroomName }} | {{ .Invitation.Category.Name }} Davetiyesi";
            break;
        default:
            name = "Davetiye";
    }
    const config = {
        name: name,
        description: "Davetiye:[br]→ [url]https://zatrano/{{ .Invitation.InvitationKey }}",
        startDate: "{{ .Invitation.Date.Format "2006-01-02" }}",
        startTime: "{{ .Invitation.Time }}",
        endTime: "23:59",
        options: ["Apple", "Google", "iCal", "Outlook.com"],
        timeZone: "Europe/Istanbul"
    };
    const button = document.getElementById('addCalendar');
    if (button) {
        button.addEventListener('click', () => atcb_action(config, button));
    }
    const targetDate = new Date('{{ .Invitation.Date.Format "2006-01-02" }} {{ .Invitation.Time }}').getTime();
    function updateCountdown() {
      const currentDate = new Date().getTime();
      const timeLeft = targetDate - currentDate;
      if (timeLeft <= 0) {
        document.getElementById('countdown').innerHTML = 'Süre doldu!';
      } else {
        const days = Math.floor(timeLeft / (1000 * 60 * 60 * 24));
        const hours = Math.floor((timeLeft % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        const minutes = Math.floor((timeLeft % (1000 * 60 * 60)) / (1000 * 60));
        const seconds = Math.floor((timeLeft % (1000 * 60)) / 1000);
        document.getElementById('countdown').innerHTML = `${days} Gün ${hours} Saat ${minutes} Dakika ${seconds} Saniye`;
      }
    }
    setInterval(updateCountdown, 1000);
    window.onload = updateCountdown;
    document.querySelectorAll('.map-modal-close').forEach(button => {
        button.addEventListener('click', () => {
            button.closest('.map-modal-container').style.display = 'none';
        });
    });
    document.querySelectorAll('.form-close-modal').forEach(button => {
        button.addEventListener('click', () => {
            button.closest('.form-modal-container').style.display = 'none';
        });
    });
    function openModal(modalId) {
        document.getElementById(modalId).style.display = 'flex';
    }
    var success = "{{ .Success }}";
    if (success != "") {
        Swal.fire({
            title: '{{ .Success }}',
            icon: 'success',
            showConfirmButton: false,
            timer: 1500
        });
    }
    var error = "{{ .Error }}";
    if (error != "") {
        Swal.fire({
            title: '{{ .Error }}',
            icon: 'error',
            showConfirmButton: true,
            confirmButtonText: "Tamam"
        });
    }
    $('#telephone').inputmask("09999999999");
    const createInvitationButton = document.getElementById('createInvitation');
    createInvitationButton.style.display = 'none';
    setTimeout(() => {
        createInvitationButton.style.display = 'block';
    }, 5000);
    </script>
</body>
</html>